altgraph==0.17.2
auto-py-to-exe==2.14.1
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.15.0
cuesdk==1.1.0
Eel==0.12.4
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
MouseInfo==0.1.3
pbr==5.8.0
pefile==2021.9.3
Pillow==9.0.0
psutil==5.9.0
PyAutoGUI==0.9.53
pycparser==2.21
PyGetWindow==0.0.9
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
pytweening==1.0.4
pywin32==303
pywin32-ctypes==0.2.0
six==1.16.0
tendo==0.2.15
watchdog==2.1.6
whichcraft==0.6.1
WMI==1.5.1
zope.event==4.5.0
zope.interface==5.4.0
